.login-container {
    height: 100%;
    width: 35%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container .form-floating {
    width: 90%;
}

.login-container .login {
    display: flex;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

.login-container .login-button {
    margin-top: 3%;
    background-image: linear-gradient(to right, skyblue, blue);
    width: 60%;
    text-align: center;
    padding: 1%;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    color: white;
}

.login-container .login-button:hover {
    background-image: linear-gradient(to right, green, lightgreen);
    color: black;
    width: 70%;
}

.login-container .new-user {
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin-top: 2%;
    font-size: 1rem;
}

.login-container .link {
    color: white;
}

.login-container .link:hover {
    color: blue;
}

.home-container .home-button {
    padding: 0;
    margin-bottom: 1%;
}

.home-container .btn-secondary {
    transition: all .5s ease-in-out;
    font-family: 'Patrick Hand', cursive;
}

.home-container .btn-secondary:hover {
    background-color: green;
}

.login-container .eye {
    position: absolute;
    top: 50%;
    right: 2%;
    cursor: pointer;
    color: grey;
}